04/ejemplos/valores2.dtd

<!ELEMENT valores (accion+)> 
<!ELEMENT accion (mercado, nombre, mercado-abierto, fecha)> 
<!ATTLIST accion recomendacion (Comprar | Mantener | Vender) #REQUIRED>
<!ELEMENT mercado (#PCDATA)> 
<!ELEMENT nombre (#PCDATA)> 
<!ELEMENT mercado-abierto (#PCDATA)> 
<!ELEMENT fecha (día, mes, año)> 
<!ELEMENT día (#PCDATA)> 
<!ELEMENT mes (#PCDATA)> 
<!ELEMENT año (#PCDATA)>